<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} Rock Paper Scissors</title>
</head>
<body>
    <h1>Lets have a game of Rock Paper Scissors!</h1>
    <p>Press <span>Play</span> to start a game.</p>

    <button id="play-button" type="button"><a href="/play">Play</a></button>

    <div id="rules">
        <h3>Rules of Rock Paper Scissors</h3>
        <ul>    
            <li>Rock wins against Scissors but looses against Paper.</li>
            <li>Scissors wins against Paper but looses against Rock.</li>
            <li>Paper wins against Rock but looses against Scissors. </li>   
        </ul>
    </div>

</body>
</html> 